<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La SAdoku</title>
    <style>
        
        table {
            border-collapse: collapse;
            border: 4px solid black;
        }

        button{
            margin: 2px;
        }

        td {
            width: 30px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 1);
            text-align: center;
            font-family: 'Berlin Sans FB';
            cursor: pointer;
        }

        .center {
            text-align: center;
            background-color: #e4e6fe;
        }

        .center-div {
            width: 300px; 
            margin: 0 auto; 
            padding: 10px; 
        }

        .center-div2 {
            width: 300px;
            margin: 0 auto;
            padding: 10px;
        }

        .white-text {
            color: white; /* Blue font color */
        }

    </style>
</head>
<!--body of webpage, contained within a div class that aligns it with the center-->
<div class="center">
    <p class="white-text" style="font-size: 75px; background-color: #100547; font-family: 'Calibri';  "> - LASA-DOKU - </p>
    <br />

    <body>
        <button id="generateSudokuButton" style="font-family: Calibri; border: 2px solid rgba(0, 0, 0, 1); ">Generate Sudoku</button>
        <button id="solveSudokuBoard"style="font-family: Calibri; border: 2px solid rgba(0, 0, 0, 1);">Solve Board</button>
        <button id="checkSudokuBoard"style="font-family: Calibri; border: 2px solid rgba(0, 0, 0, 1); ">Check Answers</button>
        <br />
        <p style="font-family: Calibri"> White tiles indicate a tile that you can fill in</p>
        <div class="center-div" id="output" ></div>
        <div class="center-div2" id="output2"></div>
        <br />
        <p style="font-family: Calibri">Notes:</p>
        <textarea name="notes" id="notes" style="height: 100px; width: 400px; font-family: Calibri; border: 2px solid black;"></textarea>
        <br />
</div>

    <script>

        var globalTable;




        // Function to create and populate the table
        function createTable() {
            fetch('/outfile.csv')
                .then(response => response.text())
                .then(content => {
                    const lines = content.split('\n');
                    const data = [];

                    for (let i = 0; i < lines.length; i++) {
                        const line = lines[i].trim(); // Remove leading/trailing whitespaces
                        if (line === '') {
                            break; // Stop reading if an empty line is encountered
                        }
                        const parts = line.split(',');
                        data.push(parts);
                    }


                    // Create the table element
                    var outputDiv = document.getElementById('output');
                    globalTable = document.createElement("table");
                    globalTable.border = 1; // Changed from table.border to globalTable.border

                    // Create and append table rows and cells
                    for (var i = 0; i < 9; i++) {
                        var row = document.createElement("tr");
                        for (var j = 0; j < 9; j++) {
                            if (data[i * 9 + j] == "0") {
                                var cell = document.createElement("td");
                                cell.style.backgroundColor = "aliceblue";
                                row.appendChild(cell);
                            } else {
                                var cell = document.createElement("td");
                                cell.style.backgroundColor = "#ffd0e4";
                                row.appendChild(cell);
                            }

                        }
                        globalTable.appendChild(row);
                    }
                    outputDiv.appendChild(globalTable);
                })
                .catch(error => console.error('Error fetching CSV file:', error));

        }

        document.addEventListener("DOMContentLoaded", function () {
            createTable();
        });


        //displays unsolved board via csv file
        function displayData() {
            // Fetch csv file from server
            fetch('/outfile.csv')
                .then(response => response.text())
                .then(content => {
                    const lines = content.split('\n');
                    const data = [];

                    for (let i = 0; i < lines.length; i++) {
                        const line = lines[i].trim(); // Remove leading/trailing whitespaces
                        if (line === '') {
                            break; // Stop reading if an empty line is encountered
                        }
                        const parts = line.split(',');
                        data.push(parts);
                    }

                    // Display the Sudoku board
                    const outputDiv = document.getElementById('output');
                    outputDiv.innerHTML = '';

                    for (let i = 0; i < 9; i++) {
                        var row = globalTable.rows[i];
                        for (let j = 0; j < 9; j++) {
                            var cell = row.cells[j];
                            cell.textContent = data[i * 9 + j];
                            if (i == 2) {
                                cell.style.borderBottomWidth = '2px';
                            }
                            if (i == 5) {
                                cell.style.borderBottomWidth = '2px';
                            }
                            if (j == 3) {
                                cell.style.borderLeftWidth = '2px'
                            }
                            if (j == 6) {
                                cell.style.borderLeftWidth = '2px'
                            }
                            if (data[i * 9 + j] == "0") {
                                cell.style.backgroundColor = "aliceblue";
                                cell.textContent = ""
                            } else {
                                cell.style.backgroundColor = "#ffd0e4";
                            }

                        }
                    }
                    const cells = globalTable.querySelectorAll('td');
                    cells.forEach(cell => {
                        cell.addEventListener('click', () => {
                            // If cell is empty or not an input, make it editable
                            if (!cell.querySelector('input')) {
                                var cellColor = window.getComputedStyle(cell).getPropertyValue('color');
                                //outputDiv.innerHTML = cell.style.backgroundColor;
                                var input = document.createElement('input');
                                var temp = cell.textContent;
                                input.style.width = '12px';
                                input.value = cell.innerText.trim();

                                cell.innerHTML = '';
                                cell.appendChild(input);
                                input.focus();

                                
                                if (cell.textContent == '') {
                                    input.focus();

                                    input.addEventListener('blur', () => {
                                        if (input.value == "1"
                                            || input.value == "2"
                                            || input.value == "3"
                                            || input.value == "4"
                                            || input.value == "5"
                                            || input.value == "6"
                                            || input.value == "7"
                                            || input.value == "8"
                                            || input.value == "9") {
                                            //outputDiv.innerHTML = 'asdf';
                                            if (cell.style.backgroundColor == "aliceblue") {
                                                cell.innerText = input.value;
                                            } else {
                                                cell.innerText = temp;
                                            }
                                        } else {
                                            cell.innerText = temp;
                                        }
                                    });
                                }

                            }
                        });
                    });
                    outputDiv.appendChild(globalTable);
                })
                .catch(error => console.error('Error fetching CSV file:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Function to handle button click event
            document.getElementById('generateSudokuButton').addEventListener('click', function () {
                // Request the server to generate a new Sudoku puzzle
                fetch('/generate_sudoku')
                    .then(response => {
                        // request the updated CSV file
                        if (response.ok) {
                            displayData();
                        } else {
                            console.error('Error generating Sudoku puzzle');
                        }
                    })
                    .catch(error => console.error('Error generating Sudoku puzzle:', error));
            });

            displayData();
        });
        //event listener for solve button
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('solveSudokuBoard').addEventListener('click', function () {
                displaySolution();
            })

        });
        //displays solution to board
        function displaySolution() {
            // Fetch csv file from server
            fetch('/solution.csv')
                .then(response => response.text())
                .then(content => {
                    const lines = content.split('\n');
                    const data = [];

                    for (let i = 0; i < lines.length; i++) {
                        const line = lines[i].trim(); // Remove leading/trailing whitespaces
                        if (line === '') {
                            break; 
                        }
                        const parts = line.split(',');
                        data.push(parts);
                    }

                    // Display the Sudoku board
                    const outputDiv = document.getElementById('output');
                    outputDiv.innerHTML = '';

                    for (let i = 0; i < 9; i++) {
                        var row = globalTable.rows[i];
                        for (let j = 0; j < 9; j++) {
                            var cell = row.cells[j];
                            cell.textContent = data[i * 9 + j];
                            if (data[i * 9 + j] == "0") {
                                cell.textContent = ""
                            }
                        }
                    }
                    outputDiv.appendChild(globalTable);
                })

                .catch(error => console.error('Error fetching CSV file:', error));
        }
        //verifies that the board is correct
        function checkBoard() {
            fetch('/solution.csv') // fetch csv file from server
                .then(response => response.text())
                .then(content => {
                    const lines = content.split('\n');
                    const data = [];

                    for (let i = 0; i < lines.length; i++) {
                        const line = lines[i].trim(); 
                        if (line === '') {
                            continue; 
                        }
                        const parts = line.split(',');
                        data.push(parts);
                    }

                    var outputDiv = document.getElementById("output2");
                    let mismatchFound = false;

                    // Check the board
                    for (let i = 0; i < 9; i++) {
                        var row = globalTable.rows[i];
                        for (let j = 0; j < 9; j++) {
                            var cell = row.cells[j];
                            var comparison = String(cell.textContent).localeCompare(data[i * 9 + j]);
                            if (comparison !== 0) {
                                mismatchFound = true;
                                break; 
                            }
                        }
                        if (mismatchFound) {
                            break; 
                        }
                    }

                    if (mismatchFound) {
                        winLoseMessage(false);
                    } else {
                        winLoseMessage(true);
                    }
                })
                .catch(error => console.error('Error fetching or parsing CSV file:', error));
        }

        //print win/lose msg depending on whether or not true or false is passed into method
        function winLoseMessage(winOrLose) {
            var outputDiv = document.getElementById("output2");

            if (winOrLose == true) {
                outputDiv.innerHTML = "you did it!";
            } else {
                outputDiv.innerHTML = "try again!";
            }
            setTimeout(function () {
                outputDiv.innerHTML = "";
            }, 3000); 
        }
        //event listener for checksudoku board button
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('checkSudokuBoard').addEventListener('click', function () {
                checkBoard();
            })

        });

        document.addEventListener('DOMContentLoaded', function () {

        });

</script>
</body>
</html>
